.slide-radio {
  display: block;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.slide-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.slide-checkmark {
  position: absolute;
  top: 0;
  margin-left: 5px;
  height: 25px;
  width: 50px;
  background-color: #FFF;
  border: 1px solid #95989A;
  border-radius: 20px;
}

.slide-checkmark:after {
  content: "";
  position: absolute;
}

.slide-radio input:checked ~ .slide-checkmark:after {
  display: block;
  left: auto;
  right: 1px;
  transition: 0.5s right, 0.5s background-color;
  background-color: #005FFF;
  border: 1px solid #005FFF;
}

.slide-radio .slide-checkmark:after {
  right: 26px;
  transition: 0.5s right, 0.5s background-color;
  top: 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #707070;
  border: 1px solid #707070;
}