$break_max: 1600px;
$break_min: 520px;
$heightHeader: 60px;

$colorTest: black;

*, :after, :before {
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
  width: 100%;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  margin-top: $heightHeader;
}

button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: auto;
  display: block;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.mb-0, .my-0 {
  margin-bottom: 0;
}

.mb-1, .my-1 {
  margin-bottom: 10px;
}

.mb-2, .my-2 {
  margin-bottom: 20px;
}

.mt-0, .my-0 {
  margin-top: 0;
}

.mt-1, .my-1 {
  margin-top: 10px;
}

.mt-2, .my-2 {
  margin-top: 20px;
}

.ml-1, .mx-1 {
  margin-left: 10px;
}

.mr-1, .mx-1 {
  margin-right: 10px;
}

.mr-2, .mx-2 {
  margin-right: 20px;
}

.pb-1, .py-1, .p-1 {
  padding-bottom: 10px;
}

.pb-2, .py-2, .p-2 {
  padding-bottom: 20px;
}

.pt-2, .py-2, .p-2 {
  padding-top: 20px;
}

.pl-2, .px-2, .p-2 {
  padding-left: 20px;
}

.pr-2, .px-2, .p-2 {
  padding-right: 20px;
}

.clickable {
  cursor: pointer;
}


.form-control {
  font-size: 1rem;
  display: block;
  width: -webkit-fill-available;
  padding: .375rem .75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  &:focus{
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
  }
}

.form-control:not(textarea) {
  height: 30px;
}

.btn {
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 400;
  padding: 7px 25px;

  &:hover {
    transform: scale(.99);
  }
}

.btn-primary {
  color: #FFF;
  background-color: #57bc90;
  border: 1px solid #57bc90;
}

.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  color: #57bc90;
}

.table th,
.table td {
  text-align: center;
  padding: 0.75rem;
  vertical-align: top;
}

.table td {
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

a {
  color: #a5a5af;
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-6 {
  flex: 1 1 50%;
  padding: 0 10px;
  max-width: 50%;
}

.col-12 {
  flex: 1 1 100%;
  padding: 0 10px;
  max-width: 100%;
}

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.text-normal {
  font-weight: 400;
}

.text-semibold {
  font-weight: 600;
}

.text-error {
  color: red;
}

.border-bottom-1 {
  border-bottom: 1px solid #a5a5af;
}

::placeholder {
  color: #9F9F9F;
}

@media (min-width: $break_max) {
  .container {
    max-width: 1600px;
  }
}

@media (min-width: $break_min) {
  .col-md-4 {
    flex: 1 1 33.333333%;
    padding: 0 10px;
    max-width: 33.333333%;
  }

  .col-md-6 {
    flex: 1 1 50%;
    padding: 0 10px;
    max-width: 50%;
  }
}

@media screen and (max-width: $break_min) {
  .container {
    width: 95%;
  }
}

